body {
    margin: 0px;
    min-height: 100vh;
    
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 16% 84%;
    
}
/*exterior layout for headaer*/
.header {
    grid-row: 1;
    grid-column: 2;
    /*for internal grid*/
    display: grid;
    grid-template-rows: 1fr 1fr;
    min-width: 1143px; 
}
/*top half of header*/
.top-top-contain {
    display: grid;
    grid-template-columns: 70% 30%;
}
/*header top left container*/
.search-container {
    display: grid;
    grid-template-columns: 10% 80%;
    align-items: center;
    justify-items: end;
    min-width: 1101px;
    
}
/*stying search bar*/
#search-bar {
    width: 900px;
    height: 30px;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 1px 1px;
}
/*bell profile-pic, name top-right*/
.top-right-container {
    display: grid;
    grid-template-columns: 15% 20% 30%;
    justify-items: start;
    align-items: center;
    min-width: 429px;
}
/*profile pic for header*/
.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
/*profile name style for header*/
.top-right-text {
    font-family: "Noto Sans", sans-serif;
    font-size: 17px;
}
/*the whole top-bottom container */
.top-bottom-container {
    display: grid;
    grid-template-columns: 9% 55% 30%;
}
/*"hit there" text */
.top-bottom-left {
    font-family: "Noto Sans", sans-serif;
    display: grid;
    grid-template-columns: 100%; 
}
/*Morgan Oakley (@morgan) text */
h1 {
    font-size: larger;
    margin-top: 0px;
}
/*"hi there" text */
.hi {
    display: grid;
    grid-template-rows: 1fr;
    align-items: end;
         
}
/*second profile pic */
.profile-pic-two {
    justify-self: end;
    width: 70px;
    height: 70px;
    border-radius: 50%; 
    margin-right: 10px;
}
/*stying heading buttons */
.buttons {
    font-family: "Noto Sans", sans-serif;
    color: white;
    font-size: medium;
    font-weight: 400;
    background-color: black;
    border-radius: 20px;
    height: 40px;
    width: 130px;
}
.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}
.sidebar {
    /*exterior layout for sidebar */
    grid-row: 1 / 3;
    grid-column: 1;
    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    background-color: rgb(18, 79, 172);
    color: white;
    font-family: "Lato", sans-serif;
    padding-left: 25px; 
    /*interior grid layout*/
    display: grid;
    grid-template-rows: 8% 39% 53%;
    min-width: 176px;
    min-height: 908px;
}
/*contains eye and luckyme text*/
.sidebar-top-contain {
    display: grid;
    grid-template-columns: 55px auto;
    align-items: center;
}
/*LuckyMe text*/
p{
   font-family: "Lato", sans-serif;  
   font-size: 24px;
   font-weight: bold;
   color: black;
}

/*eye icon */
.fa-eye{
    color: black;
}
/*styling lists in sidebar*/
.side-list {
    font-size: 20px;
    list-style: none;
    line-height: 3;
    padding-left: 0px;
}
/*spaces icons from text */
i {
    margin-right: 20px;
}

/*gray background */
#wrapper {
    background-color: grey;
    display: grid;
    grid-template-rows: 1fr;   
}
/*all article content */
.article-container {
    
    display: grid;
    grid-template-columns: 2% repeat(3, 30%) 5%;
    grid-template-rows: 10% repeat(3, 1fr) 10%;
    gap: 20px;
 }

 /*3x3 headers */
.project-header {
    font-weight: 900;
}
/*Your project header */
.your-projects {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-items: flex-end;
    font-family: "Lato", sans-serif;
    font-size: x-large;
    font-weight: 700;

}
/*header of annnouncements */
.announcements-header {
    grid-row: 1;
    grid-column: 4;
    display: flex;
    align-items: flex-end;
    font-family: "Lato", sans-serif;
    font-size: x-large;
    font-weight: 700;
    
}

.super-cool {
    grid-row: 2;
    grid-column: 2;
    border-radius: 7px; 
    
}

.Impossible-App {
    grid-row: 3;
    grid-column: 2;
    border-radius: 7px;
}

.Less-cool {
    grid-row: 2;
    grid-column: 3;
    border-radius: 7px;
}

.Money-maker {
    grid-row: 4;
    grid-column: 3;
    border-radius: 7px;
}
 
.Ad-blocker {
    grid-row: 4;
    grid-column: 2;
    border-radius: 7px;
}

.Easy-peasy {
    grid-row: 3;
    grid-column: 3;
    border-radius: 7px;
}

/*3 x 3 article */
.project {
    background-color: white;
    display: grid;
    grid-template-rows: 30px 2fr 1fr 30px;
    grid-template-columns: 20px 1fr 20px;
    box-shadow: -7px 0px rgb(233, 166, 41)
    
}
/*headers of project sections */
.project-header {
    grid-row: 2;
    grid-column: 2;
}
/*icons of project section */
.project-logos {
    grid-row: 3;
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}



/*right side of article */
.container2 {
    
    grid-row: 2 / 5;
    grid-column: 4;
    display: grid;
    grid-template-rows: 1fr 40px 1fr;
    grid-template-columns: 1fr;
}

/*right side header for top */
.ann-header {
    font-weight: 900;

}
/*article-top background color */
.article-right {
    grid-row: 1;
    background-color: white;
    display: grid;
    grid-template-rows: 20px 1fr 7px 1fr 7px 1fr 20px;
    grid-template-columns: 30px 1fr 30px;    
    border-radius: 7px;
}
/*article-top-right text */
.article-para {
    font-size: clamp(13px, 16px, 18px);
}

/*Article-site maintenance section */
.Site-mai {
    border-bottom: solid black 1px;
    grid-column: 2;
    grid-row: 2 / 3;
    
    
}
/*Article Community share section */
.Community-share {
    border-bottom: solid black 1px;
    grid-column: 2;
    grid-row: 4;
}
/*Article Updated policey section */
.Updated-policey {
    grid-column: 2;
    grid-row: 6;
}

/*trending text */
.title-trending {
    font-family: "Lato", sans-serif;
    grid-row: 2;
    font-size: x-large;
    font-weight: 900;
    display: flex;
    align-items: center
}

/*article-right-bottom */
.trending {
    grid-row: 3;
    grid-column: 1;  
    background-color: white;
    display: grid;
    grid-template-columns: 30px 1fr 6fr 30px;
    grid-template-rows: 20px repeat(4, 1fr) 20px;
    border-radius: 7px;
    
}

.dolphin {
  grid-row: 2;
  grid-column: 2;
  margin-top: auto;
  margin-bottom: auto; 
    
}
.dolphin-img {

    height: 50px;
    background-color: rgb(130, 8, 211);
    border-radius: 50%;
      
}

.elephant {
    grid-row: 3;
    grid-column: 2;
    margin-top: auto;
    margin-bottom: auto;
}
.elephant-img {
    height: 50px;
    background-color: rgb(15, 68, 216);
    border-radius: 50%;
 
}
.dinosaur {
    grid-row: 4;
    grid-column: 2;
    margin-top: auto;
    margin-bottom: auto;
}
.dinosaur-img {
    height: 50px;
    background-color: rgb(231, 24, 17);
    border-radius: 50%;
   
}
.spider {
    grid-row: 5;
    grid-column: 2;
    margin-top: auto;
    margin-bottom: auto;
}
.spider-img {
    height: 50px;
    background-color: rgb(245, 242, 55);
    border-radius: 50%;
   
}
/*Centers trending @ texts */
.socials {
    margin-top: auto;
    margin-bottom: auto;
    height:fit-content;
    font-weight: 900;
}

.tegan {
    grid-row: 2;
    grid-column: 3;
}
.morgan {
    grid-row: 3;
    grid-column: 3;
}
.kendall {
    grid-row: 4;
    grid-column: 3;
}
.alex {
    grid-row: 5;
    grid-column: 3;
}
/*all paragraph elements */
p{
    margin: 0px;
    font-weight: 100;
    font-size: large;
}


