body {
    margin: 0px;
    min-height: 100vh;
    
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 16% 84%;
    
}
/*exterior layout for headaer*/
.header {
    grid-row: 1;
    grid-column: 2;
    /*for internal grid*/
    display: grid;
    grid-template-rows: 1fr 1fr;
    min-width: 1143px;  /*--------------check after done*/
}
/*top half of header*/
.top-top-contain {
    display: grid;
    grid-template-columns: 70% 30%;
}
/*header top left container*/
.search-container {
    display: grid;
    grid-template-columns: 10% 80%;
    align-items: center;
    justify-items: end;
    min-width: 1101px;
    
}
/*stying search bar*/
#search-bar {
    width: 900px;
    height: 30px;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 1px 1px;
}
/*bell profile-pic, name top-right*/
.top-right-container {
    display: grid;
    grid-template-columns: 15% 20% 30%;
    justify-items: start;
    align-items: center;
    min-width: 429px;
}
/*profile pic for header*/
.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
/*profile name style for header*/
.top-right-text {
    font-family: "Noto Sans", sans-serif;
    font-size: 17px;
}
/*the whole top-bottom container */
.top-bottom-container {
    display: grid;
    grid-template-columns: 9% 55% 30%;
}
/*"hit there" text */
.top-bottom-left {
    font-family: "Noto Sans", sans-serif;
    display: grid;
    grid-template-columns: 100%; 
}
/*Morgan Oakley (@morgan) text */
h1 {
    font-size: larger;
    margin-top: 0px;
}
/*"hi there" text */
.hi {
    display: grid;
    grid-template-rows: 1fr;
    align-items: end;
         
}
/*second profile pic */
.profile-pic-two {
    justify-self: end;
    width: 80px;
    height: 80px;
    border-radius: 50%; 
    margin-right: 10px;
}
/*stying heading buttons */
.buttons {
    font-family: "Noto Sans", sans-serif;
    color: white;
    font-size: medium;
    font-weight: 400;
    background-color: black;
    border-radius: 20px;
    height: 40px;
    width: 130px;
}
.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}
.sidebar {
    /*exterior layout for sidebar */
    grid-row: 1 / 3;
    grid-column: 1;
    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    background-color: rgb(18, 79, 172);
    color: white;
    font-family: "Lato", sans-serif;
    padding-left: 25px; 
    /*interior grid layout*/
    display: grid;
    grid-template-rows: 8% 39% 53%;
    min-width: 176px;
    min-height: 908px;
}
/*contains eye and luckyme text*/
.sidebar-top-contain {
    display: grid;
    grid-template-columns: 55px auto;
    align-items: center;
}
/*LuckyMe text*/
p{
   font-family: "Lato", sans-serif;  
   font-size: 24px;
   font-weight: bold;
   color: black;
}

/*eye icon */
.fa-eye{
    color: black;
}
/*styling lists in sidebar*/
.side-list {
    font-size: 20px;
    list-style: none;
    line-height: 3;
    padding-left: 0px;
}
/*spaces icons from text */
i {
    margin-right: 20px;
}

/*gray background */
#wrapper {
    background-color: grey;
    display: grid;


   
}
/*all article content */
.article-container {
    display: grid;
    grid-template-columns: 2% repeat(3, 30%) 5%;
    grid-template-rows: 10% repeat(3, 1fr) 10%;
    gap: 20px;
 }
/*3 x 3 article */
.project {
    background-color: white;
}

.super-cool {
    grid-row: 2;
    grid-column: 2; 
    
}

.Impossible-App {
    grid-row: 3;
    grid-column: 2;
}

.Less-cool {
    grid-row: 2;
    grid-column: 3;
}

.Money-maker {
    grid-row: 4;
    grid-column: 3;
}
 
.Ad-blocker {
    grid-row: 4;
    grid-column: 2;
}

.Easy-peasy {
    grid-row: 3;
    grid-column: 3;
}
/*right side of article */
.container2 {
    
    grid-row: 2 / 5;
    grid-column: 4;
    display: grid;
    grid-template-rows: 1fr 40px 1fr;
    grid-template-columns: 1fr;
    

}
/*3x3 headers */
.project-header {
    font-weight: 900;
}
/*right side header for top */
.ann-header {
    font-weight: 900;

}
/*article-top background color */
.article-left {
    grid-row: 1;
    background-color: white;
    display: grid;
    grid-template-rows: 20px 1fr 7px 1fr 7px 1fr 20px;
    grid-template-columns: 40px 1fr 40px;    
    

}
.article-para {
    font-size: clamp(13px, 16px, 18px);
}

/*Article-site maintenance section */
.Site-mai {
    border-bottom: solid black 1px;
    grid-column: 2;
    grid-row: 2 / 3;
    
    
}
/*Article Community share section */
.Community-share {
    border-bottom: solid black 1px;
    grid-column: 2;
    grid-row: 4;
}
/*Article Updated policey section */
.Updated-policey {
    grid-column: 2;
    grid-row: 6;
}



/*article-right-bottom */
.trending {
    grid-row: 3;
    grid-column: ;  
    background-color: white;
}
/*all paragraph elements */
p{
    margin: 0px;
    font-weight: 100;
    font-size: large;
}


/*put the trending text and figure out
 spacing in bottom article section */